name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_KEY }}
          script: |
            git config --global --add safe.directory /home/ubuntu/nextjs-demo/nextjs-demo
            cd /home/ubuntu/nextjs-demo/nextjs-demo
            sudo chown -R ubuntu:ubuntu .
            sudo chmod -R 777 *
            sudo git reset --hard
            sudo git pull origin main
            sudo npm install
            sudo npm run build
            sudo nohup npm run dev > dev.log 2>&1 &

          
